.header {
  height: 20vh;

  background: lightcoral;

  display: flex;

  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  right: 0;
}

.header-title {
  background-color: lightblue;

  margin-left: 30rem;
}

/* .header nav a {
  display: inline-block;
} */

.header nav {
  display: flex;
  flex-direction: row;
  gap: 4rem;

  margin-right: 4rem;
}
